<nav class="navbar navbar-expand navbar-dark bg-danger">
  <div class="container-fluid">
    <div class=" collapse navbar-collapse" id="contBotonesMenu">
      <button class="btn btn-danger">Servicios</button>
      <button class="btn btn-danger">Financiamiento</button>
      <button class="btn btn-danger">Ubicaciones</button>
      <button class="btn btn-danger">Ofertas</button>
      <button class="btn btn-danger">Tarjeta De Regalo</button>
      <button class="btn btn-danger">Contactenos</button>
    </div>
  </div>
</nav>


