<div class="sidebar-container">
  <div class="sidebar-logo"><ion-icon name="menu"></ion-icon>
    Productos
  </div>
  <ul class="sidebar-navigation">
    <li>
      <a>
        <i class="fa fa-home" ></i>
        <ion-icon name="tv-outline"></ion-icon>&nbsp;
        TV y Video
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <ion-icon name="phone-portrait-outline"></ion-icon>&nbsp;
        Celulares
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-users" aria-hidden="true"></i>
        <ion-icon name="bed-outline"></ion-icon>&nbsp;
        Linea Blanca
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <ion-icon name="game-controller-outline"></ion-icon>&nbsp;
        Videojuegos
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <ion-icon name="print-outline"></ion-icon>&nbsp;
        Electrodomesticos
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <ion-icon name="laptop-outline"></ion-icon>&nbsp;
        Computacion y Tablets
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <ion-icon name="volume-high-outline"></ion-icon>&nbsp;
        Audio
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <ion-icon name="camera-outline"></ion-icon>&nbsp;
        Camaras y Drones
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <ion-icon name="headset-outline"></ion-icon>&nbsp;
        Audifonos y Bocinas
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <ion-icon name="wifi"></ion-icon>&nbsp;
        Hogar Inteligente
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <ion-icon name="headset-outline"></ion-icon>&nbsp;
        Audifonos y Bocinas
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <ion-icon name="headset-outline"></ion-icon>&nbsp;
        Audifonos y Bocinas
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <ion-icon name="headset-outline"></ion-icon>&nbsp;
        Audifonos y Bocinas
      </a>
    </li>
  </ul>
</div>
